/* Theme styles */
body[data-theme='dark'] {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
}

body[data-theme='light'] {
    background-color: #ffffff; /* Light background color */
    color: #000000; /* Dark text color */
}

body[data-theme='dark'] .main-div,
body[data-theme='dark'] .t-s,
body[data-theme='dark'] .m-s-2,
body[data-theme='dark'] .m-o,
body[data-theme='dark'] .container .cardy-text{
    background-color: #121212; /* Dark background color for main-div */
    color: #ffffff; /* Light text color for main-div */
}

body[data-theme='light'] .main-div,
body[data-theme='light'] .t-s,
body[data-theme='light'] .m-s-2,
body[data-theme='light'] .m-o,
body[data-theme='light'] .container .cardy-text{
    background-color: #ffffff; /* Light background color for main-div */
    color: #000000; /* Dark text color for main-div */
}

/* Dark mode styles */
body[data-theme='dark'] {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
}

body[data-theme='dark'] nav {
    background-color: #212020; /* Dark background color for navbar */
    color: #ffffff; /* Light text color for navbar */
}

body[data-theme='dark'] nav .menu-btn {
    color: #ffffff; /* Adjust menu button color for dark theme */
}

body[data-theme='dark'] nav ul {
    background-color: #212020; /* Dark background color for dropdown menu */
}

body[data-theme='dark'] nav ul li {
    color: #ffffff; /* Adjust text color for menu items in dark theme */
}

body[data-theme='dark'] nav ul li:hover {
    background-color: #333333; /* Dark background color on hover for menu items */
}

body[data-theme='dark'] .btn-login{
    color: #000000;
    background-color: white;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}
body[data-theme='dark'] .btn-signup {
    color: white;
    background-color: #4ca14f;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}

/* Light mode styles */
body[data-theme='light'] {
    background-color: #ffffff; /* Light background color */
    color: #000000; /* Dark text color */
}

body[data-theme='light'] nav {
    background-color: #ffffff; /* Light background color for navbar */
    color: #000000; /* Dark text color for navbar */
}

body[data-theme='light'] nav .menu-btn {
    color: #000000; /* Adjust menu button color for light theme */
}

body[data-theme='light'] nav ul {
    background-color: #ffffff; /* Light background color for dropdown menu */
}

body[data-theme='light'] nav ul li {
    color: #000000; /* Adjust text color for menu items in light theme */
}

body[data-theme='light'] nav ul li:hover {
    background-color: #f0f0f0; /* Light background color on hover for menu items */
}
.dark_mode {
    margin-top: -20px;
    margin-left: 10px;
}

.dark_mode_label {
    width: 65px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}
.dark_mode_label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
    background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
    left: 62px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
    width: 30px;
}

.dark_mode_label svg {
    position: absolute;
    width: 20px;
    top: 5px;
    z-index: 100;
}
.dark_mode_label svg.sun {
    left: 5px;
    fill: #fff;
    transition: 0.3s;
}
.dark_mode_label svg.moon {
    left: 40px;
    fill: #7e7e7e;
    transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
    fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
    fill: #fff;
}
